header {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.697);
    align-items: center;
    padding: 0 6vw;
    font-size: 40px;
}

.header--image--container {
    display: flex;
    align-items: center;
    width: 20vw;
}
.space--div {
    width: 50%;
}
.logo--image{
    width: 4rem;
}
.user--image {
    width: 2.3rem;
    margin-left: 40%;
}