html,
body {
  background-color: #fff;
  background-image: url("../src/assets/images/background.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;

  font-family: "Poppins", Repo;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
